body {
    margin: 0;
    overflow: hidden;
}

#main-container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-image: url("./clouds2.webp");
    background-size: cover;
    background-position: center;
}

#main-canvas {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#main-loading-bar {
    margin: auto;
    width: 200px;
    height: 200px;
    display: none;
}

#main-progress-bar-empty {
    width: 100%;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-empty-dark.png') no-repeat center;
}

#main-progress-bar-full {
    width: 0%;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-full-dark.png') no-repeat center;
}

.Logo
{
    width: 100px;
    height: 100px;
    margin: auto;
}

.Logo img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}