body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #262222;
}

#unity-container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0
    background: #262222;
}

#unity-container.unity-desktop {
    idth: 100vw;
    height: 100vh
}

#unity-container.unity-mobile {
    width: 100vw;
    height: 100vh
}

#unity-canvas {
    background: #262222;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.unity-mobile #unity-canvas {
    width: 100vw;
    height: 100vh
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none
}

#unity-logo {
    width: 154px;
    height: 130px;
    background: url('Logo_Text.png.png') no-repeat center
}

#unity-progress-bar-empty {
    width: 141px;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-empty-dark.png') no-repeat center
}

#unity-progress-bar-full {
    width: 0%;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-full-dark.png') no-repeat center
}